{% extends 'sidenav\sidenav_ceo.html' %}
{% load static %}
{% block title %} Add Project {% endblock %}
{% block content %}
<style>
  input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e7e6e6;
  }
  label {
    color: #2706ca;
    font-weight: bold;
    {% comment %} padding: 5px 12px 12px 0; {% endcomment %}
    display: inline-block;
    float: left;
    width: 25%;
    margin-top: 10px
  }
  
  input[type=submit] {
    width: 15%;
    background-color: #003366;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
</style>
<div style='margin:50px;'>
  <h2 style='color:#003366;margin-bottom:50px;'>Add Project</h2>
  <div> 
    <form  method="POST">
      {% csrf_token %}
      <label>Project Name : </label>
      {{data.project_name}}<br>

      <label >Category : </label>
      {{data.category_id}}<br>
    
      <label >Donor : </label>
      {{data.donor_name}}<br>

      <label >Budget : </label>
      {{data.budget}}<br>

      <label >Assign to : </label>
      {{data.assigned_to}}<br><br>
    
      <spam style='margin-left:25%;margin-right:1%;color: #2706ca;font-weight: bold;'>Start Date : </spam>
      {{data.start_date}}
      <spam style='color: #2706ca;font-weight: bold;margin-left:10%;margin-right:1%;'>End Date : </spam>{{ data.end_date }}<br><br>
      <input type="submit" value="Save">
    </form>
  </div>
</div>
{% endblock  %}