{% extends 'myAPP/user_nav.html' %}
{% block content %}
<body>
  <div class="form-group">
    <form  method="POST">
      {% csrf_token %}
      <lable>Name of Staff:</lable>
      {{form.name_of_staff}}<br>
      <lable>Designation:</lable>
      {{form.designation}}<br>
      <lable>Leave taken in this Month</lable>
      {{form.leave_taken_this_month}}<br>
      <lable>MPR Status for Report Returns?</lable>
      {{form.mpr}}
      <lable>Planning Status for Report Returns?</lable>
      {{form.planning}}
      <lable>Budget Status for Report Returns?</lable>
      {{form.budget}}
      <lable>Settlement Status for Report Returns?</lable>
      {{form.settlement_completed}}
      <lable>Case Studies Submited?</lable>
      {{form.case_study}}
      <lable>OutStation Report Submited?</lable>
      {{form.outstation_report}}
      <lable>Event Report Submited?</lable>
      {{form.event_report}}
      <lable>Any Other(Please Specify):</lable>
      {{form.any_other}}<br>
      <input class='button' type="submit" value="Save">
    </form>
  </div> 
  <script>
    function capitalizeText(inputId) {
      var input = document.getElementById(inputId);
      var inputValue = input.value;
      var capitalizedText = "";
      var capitalizeNext = true;

      for (var i = 0; i < inputValue.length; i++) {
        var currentChar = inputValue.charAt(i);
        
        if (capitalizeNext && currentChar.match(/[a-z]/i)) {
          capitalizedText += currentChar.toUpperCase();
          capitalizeNext = false;
        } else {
          capitalizedText += currentChar;
        }
      }
      input.value = capitalizedText;
    }
  </script>  
  </body>
{% endblock  %}