{% extends 'myAPP/base-complince.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>  
</style>
<body>
  <div class="form-group">
    <form  method="POST">
      {% csrf_token %}
      <lable>Name of Staff:</lable>
      {{form.name_of_staff}}<br>
      <lable>Designation:</lable>
      {{form.designation}}<br>
      <lable>Date of Joining:</lable>
      {{form.date_of_joining}}<br>
      <lable>Total Leaves Alllowed</lable>
      {{form.total_leaves_allowed}}<br>
      <lable>Remarks</lable>
      {{form.remarks}}
      <input class='button' type="submit" value="Save">
    </form>
  </div> 
  <script>
    function changeBulletColor(element) {
      var bullet = element.closest('.bullet');
      var radioValue = element.value;

      if (radioValue === '1') {
        bullet.style.color = 'green';
      } else if (radioValue === '2') {
          bullet.style.color = 'yellow';
      } else if (radioValue === '3') {
        bullet.style.color = 'red';
      } else {
        // Reset to default color
        bullet.style.color = 'initial';
      }
    }
    function capitalizeText(inputId) {
      var input = document.getElementById(inputId);
      var inputValue = input.value;
      var capitalizedText = "";
      var capitalizeNext = true;

      for (var i = 0; i < inputValue.length; i++) {
        var currentChar = inputValue.charAt(i);
        
        if (capitalizeNext && currentChar.match(/[a-z]/i)) {
          capitalizedText += currentChar.toUpperCase();
          capitalizeNext = false;
        } else {
          capitalizedText += currentChar;
        }
      }
      input.value = capitalizedText;
    }
  </script>  
  </body>
{% endblock  %}