{% extends 'sidenav/sidenav_ceo.html' %}
{% load static %}
{% block title %} Add Location Count {% endblock %}
{% block content %}
<style>
  .ingredient-form {
    border-bottom: 1px solid black;
  }
  .hidden {
      display: none
  }
  input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e7e6e6;
  }
  label {
    color: #2706ca;
    font-weight: bold;
    {% comment %} padding: 5px 12px 12px 0; {% endcomment %}
    display: inline-block;
    float: left;
    width: 25%;
    margin-top: 10px
  }
  
  input[type=submit] {
    width: 15%;
    background-color: #d378f8;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
</style>
<div style='margin:50px;'>
  <h2 style='color:#d378f8;margin-bottom:50px;'>Add Location Count</h2>
  <form method="POST">
    {% csrf_token %}
    <div>
      <div>
        {% if formset %}
        {{ formset.management_form}}
        <div id='location-form-list'></div>
          {% for form in formset %}
          <div class='location-form'>
            {{form.as_p}}
          </div>
        {% endfor %}
      </div>
      <div id= "empty-form" class= "hidden">{{ formset.empty_form.as_p }}</div><br>
      <button id = 'add-more' type="button" style="color:red;float:right;">&#10010; Add More</button><br>
      <input type="submit" value="Save">
      {% endif %}
    </div>
  </form>
</div>
<script>
  document.addEventListener('click', (event)=>{
    if (event.target.id == 'add-more') {
      add_new_form(event)
    }
  })
  function add_new_form(event) {
    if (event) {
        event.preventDefault()
    }

    const totalNewForms = document.getElementById('id_activity_location_set-TOTAL_FORMS')
    const currentForms = document.getElementsByClassName('location-form')
    const currentFormCount = currentForms.length// + 1
    const formCopyTarget = document.getElementById('location-form-list')
    const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
    copyEmptyFormEl.setAttribute('class', 'location-form')
    copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
    const regex = new RegExp('__prefix__', 'g')
    copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
    totalNewForms.setAttribute('value', currentFormCount + 1)
    formCopyTarget.append(copyEmptyFormEl)
  }
  function capitalizeText(inputId) {
    var input = document.getElementById(inputId);
    var inputValue = input.value;
    var capitalizedText = "";
    var capitalizeNext = true;

    for (var i = 0; i < inputValue.length; i++) {
      var currentChar = inputValue.charAt(i);

      if (capitalizeNext && currentChar.match(/[a-z]/i)) {
        capitalizedText += currentChar.toUpperCase();
        capitalizeNext = false;
      } else {
        capitalizedText += currentChar;
      }
    }

    input.value = capitalizedText;
  }
</script>
{% endblock  %}
