{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monthly Plan{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="header">
      <a class="logo">{{ project.project_name}}</a>
      <div class="header-right">
        <a href="{% url 'myAPP:index6' project.id %}" class=sel>Back</a>
      </div>
    </div>
    <div id="body">
      {% block content %}{% endblock %}
    </div>
  </body>
  </html>