{% extends 'myAPP/baseDip_Details.html' %}
{% block content %}
<style>
  @media print {
    .no-print {
        display: none; /* Hide elements with the "no-print" class */
    }
  }
  .ingredient-form {
    border-bottom: 1px solid black;
  }
  .hidden {
      display: none
  }
  
  .button {
    border-radius: 4px;
    background-color: #6699ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 80%;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
    position: sticky;
  }
  @media print {
    .button {
        display: none; 
    }
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\002B';
    font-size: 50px;
    position: absolute;
    opacity: 0;
    top: -22px;
    left: 160px;
    right: -100px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}

  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding-left: 2px;
    padding-right: 2px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f4b083;
    color: black;
  }
  .list-container {
    display: flex;
    flex-direction: column;
  }

  .list-container ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 18px;
  }

  .list-container ul li {
    margin-bottom: 5px;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
  <center><h2 style='font-family:"Calibri", sans-serif;'><u>Detail Implementation Plan - DIP</u></h1></center>
  <table id="customers">
    <thead>
      {% if component.count != 0 %}
      <tr>
        <th style="font-size:12px;">Sl. No.</th>
        <th style="text-align: center;width:15%">Activities</th>
        <th style="text-align: center;width:15%">Objectives</th>
        <th style="text-align: center;">Target Participants</th>
        <th style="text-align: center;width:8%">Coverage</th>
        <th style="text-align: center;">Process</th>
        <th style="text-align: center;width:5%">Duration</th>
        <th style="text-align: center;">Indicator</th>
        <th style="text-align: center;">Expected Out come</th>
        <th style="text-align: center;">MOV</th>
        <th style="text-align: center;width:5%" class="no-print">Remarks if any</th>
        <th class="no-print" style="text-align:center;width:3%">Edit</th>
      </tr>
     {% endif %}
    </thead>
    <tbody>
     {% for a in component %}
      <tr>
        {% ifchanged %}
        <td onclick="window.location='{% url 'myAPP:add_ActivityMatrix' a.id %}';" colspan="11" style="color: blue; font-weight: bold;">{{a.component}}<br><label class="no-print" style="font-weight: normal;color: #004d00; font-size: 15px">&#10010; Add Activity</label></td>
        <td style="cursor: pointer;" onclick="window.location='{% url 'myAPP:update_component' a.id %}';" class="no-print"><label style="color: red;cursor: pointer;">&#9998;Edit</label></td>
        {% endifchanged %}
      </tr>
      {% for x in a.dip_activities_set.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ x.activity_name }}</td>
            <td>{{ x.objectives}}</td>
            <td>{{ x.target_participants}}</td>
            <td style="max-width: 100px;">{{ x.coverage}}</td>
            <td>
              <div class="list-container">
                <ul>
                  {% for y in x.dip_process_set.all %}
                  <li>{{ y.process }}</li>
                  {% endfor %}
                </ul>
              </div>
            </td>
            <td style='text-align:center;'>{{ x.duration}}</td>
            <td>
              <div class="list-container">
              <ul>
                {% for y in x.dip_indicator_set.all %}
                <li>{{ y.indicator }}</li>
                {% endfor %}
              </ul>
            </div>
            </td>
            <td>
              <div class="list-container">
              <ul>
                {% for y in x.dip_expected_out_come_set.all %}
                <li>{{ y.expected_out_come }}</li>
                {% endfor %}
              </ul>
              </div>
            </td>
            <td>
              <div class="list-container">
              <ul>
                {% for y in x.dip_mov_set.all %}
                <li>{{ y.mov }}</li>
                {% endfor %}
              </ul>
              </div>
            </td>
            {% if x.dip_remarks %}
            <td class="no-print" style='text-align:center;'>{{ x.dip_remarks }}</td>
            {% else %}
            <td style="text-align: center;" class="no-print">No Remarks</td>
            {% endif %}
            {% if x.is_dip_submited == 1 and x.is_dip_approved == 0 %}
              <td class="no-print">Submited</td>
            {% elif x.is_dip_approved == 1 %}
            <td style="color:Green;text-align:center;" class="no-print"><i class="fa-solid fa-check"></i>Approved</td>
            {% else %}
              <td onclick="window.location='{% url 'myAPP:update_ActivityMatrix' x.id %}';" style="cursor: pointer;" class="no-print"><label style="color: red;cursor: pointer;" >&#9998;Edit</label></td>
            {% endif %}
        </tr>
      {% endfor %}

     {% endfor %}
    </tbody>
  </table>
    <div class="form-group">
      <form method="POST">
        {% csrf_token %}
        <div>
          <div>
            {% if formset %}
            {{ formset.management_form}}
            <div id='component-form-list'></div>
              {% for form in formset %}
              <div class="input_fields_wrap" class='component-form'>
                {{form.component}}
              </div>
            {% endfor %}
          </div>
          <div id= "empty-form" class= "hidden">{{ formset.empty_form.component }}</div><br>
          <center><button type="submit" class="button" style="background-color: #33cc33;" name="form1_submit">Save</button></center>
          {% endif %}
        </div>
      </form>
    </div>
  <div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
    <script type="text/javascript">
      $("#add-more").click(function() {
        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
      
      });
      document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more') {
            add_new_form(event)
        }
      })
      function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
      
        const totalNewForms = document.getElementById('id_dip_details_set-TOTAL_FORMS')
        const currentForms = document.getElementsByClassName('component-form')
        const currentFormCount = currentForms.length // + 1
        const formCopyTarget = document.getElementById('component-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'component-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
      }

      function removeElements() {
        var elements = document.getElementsByClassName('no-print');
        while (elements.length > 0) {
            elements[0].parentNode.removeChild(elements[0]);
        }
      }

      function printPage() {
        removeElements(); // Call the function to remove elements before printing
        window.print(); // Invoke the browser's print functionality
      }

      function capitalizeText(inputId) {
        var input = document.getElementById(inputId);
        var inputValue = input.value;
        var capitalizedText = "";
        var capitalizeNext = true;
  
        for (var i = 0; i < inputValue.length; i++) {
          var currentChar = inputValue.charAt(i);
          
          if (capitalizeNext && currentChar.match(/[a-z]/i)) {
            capitalizedText += currentChar.toUpperCase();
            capitalizeNext = false;
          } else {
            capitalizedText += currentChar;
          }
        } 
        input.value = capitalizedText;
      }
      
      {% comment %} document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more') {
            add_new_form(event)
        }
      })
      function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
      
        const totalNewForms = document.getElementById('id_dip_activities_set-TOTAL_FORMS')
        const currentForms = document.getElementsByClassName('activity-form')
        const currentFormCount = currentForms.length // + 1
        const formCopyTarget = document.getElementById('activity-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'activity-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
      } {% endcomment %}


      {% comment %} document.addEventListener('click', (event)=>{
      if (event.target.id == 'add-more2') {
          add_new_form2(event)
      }
      })
      function add_new_form2(event) {
      if (event) {
          event.preventDefault()
      }
    
      const totalNewForms = document.getElementById('id_dip_objectives_set-TOTAL_FORMS')
      const currentForms = document.getElementsByClassName('objectivies-form')
      const currentFormCount = currentForms.length // + 1
      const formCopyTarget = document.getElementById('objectivies-form-list')
      const copyEmptyFormEl = document.getElementById('empty-form2').cloneNode(true)
      copyEmptyFormEl.setAttribute('class', 'objectivies-form')
      copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
      const regex = new RegExp('__prefix__', 'g')
      copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
      totalNewForms.setAttribute('value', currentFormCount + 1)
      // now add new empty form element to our html form
      formCopyTarget.append(copyEmptyFormEl)
      }

      document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more3') {
          add_new_form3(event)
        }
      })

      function add_new_form3(event) {
        if (event) {
          event.preventDefault()
        }
  
        const totalNewForms = document.getElementById('id_dip_process_set-TOTAL_FORMS')
        const currentForms = document.getElementsByClassName('process-form')
        const currentFormCount = currentForms.length // + 1
        const formCopyTarget = document.getElementById('process-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form3').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'process-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
      }

      document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more4') {
          add_new_form4(event)
        }
      })
      function add_new_form4(event) {
        if (event) {
          event.preventDefault()
        }

        const totalNewForms = document.getElementById('id_dip_indicator_set-TOTAL_FORMS')
        const currentForms = document.getElementsByClassName('indicator-form')
        const currentFormCount = currentForms.length // + 1
        const formCopyTarget = document.getElementById('indicator-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form4').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'indicator-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
      }

      document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more5') {
          add_new_form5(event)
        }
      })
      function add_new_form5(event) {
        if (event) {
          event.preventDefault()
        }

        const totalNewForms = document.getElementById('id_dip_expected_out_come_set-TOTAL_FORMS')
        const currentForms = document.getElementsByClassName('expected_out_come-form')
        const currentFormCount = currentForms.length // + 1
        const formCopyTarget = document.getElementById('expected_out_come-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form5').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'expected_out_come-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
      }

      document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more6') {
          add_new_form6(event)
        }
      })
      function add_new_form6(event) {
        if (event) {
          event.preventDefault()
        }

        const totalNewForms = document.getElementById('id_dip_mov_set-TOTAL_FORMS')
        const currentForms = document.getElementsByClassName('mov-form')
        const currentFormCount = currentForms.length // + 1
        const formCopyTarget = document.getElementById('mov-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form6').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'mov-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
      } {% endcomment %}

    </script>
  </div>   
</body>
{% endblock  %}