{% extends 'myAPP/base_matrix.html' %}
{% load post_tags %}
{% load humanize %}
{% block title %} Activity_Matrix {% endblock %}
{% block content %}
<style>
  .ingredient-form {
    border-bottom: 1px solid black;
  }
  .hidden {
      display: none
  }
  
  .button {
    border-radius: 4px;
    background-color: #6699ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 80%;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
    position: sticky;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\002B';
    font-size: 50px;
    position: absolute;
    opacity: 0;
    top: -22px;
    left: 160px;
    right: -100px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}

  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f4b083;
    color: black;
  }
  .popup2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup2-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @media print {
    .no-print {
        display: none; /* Hide elements with the "no-print" class */
    }
  } 
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
  <center><h2 style='font-family:"Calibri", sans-serif;'><u>Activities Matrix ({{project.start_date|date:"F. Y"}} to {{project.end_date|date:"F. Y"}})</u></h1></center>
  <table id="customers">
    <thead>
      <tr>
        <th style="width: 4%;font-size: 12px;">Sl. No.</th>
        <th style="text-align: center;width: 20%;">Activities</th>
        <th style="text-align: center;width: 10%;">Target</th>
        <th style="text-align: center;width: 15%;">Location</th>
        <th style="max-width: 5px;text-align: center;width: 5%;" class="no-print">Time Frame</th>
        {% for next_month in next_months %}
        <th style="width: 5%;">{{ next_month|date:"M" }}</th>
        {% endfor %}
        <th style="text-align: center;width:5%" class="no-print">Remarks if any</th>
      </tr>
    </thead>
    <tbody>
     {% for a in component %}
      <tr>
        {% ifchanged %}
        <td colspan="18" style="color: blue; font-weight: bold;">{{a.component}}</td>
        {% endifchanged %}
      </tr>
      {% for x in a.dip_activities_set.all %}
      <tr>
            <td>{{ forloop.counter }}</td>
            <td style="max-width: 50px;">{{ x.activity_name }}</td>
            <td style="width: 150px;">{{ x.target_participants }}</td>
            {% if x.activity_location_set.all %}
              <td onclick="window.location='{% url 'myAPP:update-location' x.id %}';">
                <ul>
                {% for b in x.activity_location_set.all %}
                <li>{{b.location_name}} - {{ b.count }}</li>
                {% endfor %}
                </ul>
                <label class="no-print" style="color:red;cursor: pointer;">&#9998;Edit</label>
              </td>
            {% else %}
              {% if x.is_am_submited == 1 and x.is_am_approved == 0 %}
                <td style='text-align:center'>Submited</td>
              {% elif x.is_am_submited == 1 and x.is_am_approved == 1 %}
                <td style="color:Green;text-align:center;"><i class="fa-solid fa-check"></i>Approved</td>
              {% else %}
                <td onclick="window.location='{% url 'myAPP:add_count' x.id %}';" style="color:red;cursor: pointer;">&#10010;Add</td>
              {% endif %}
            {% endif %}
            {% if x.is_am_submited == 1 and x.is_am_approved == 0 %}
              <td class="no-print" style='text-align:center'>Submited</td>
            {% elif x.is_am_submited == 1 and x.is_am_approved == 1 %}
              <td style="color:Green;text-align:center;"><i class="fa-solid fa-check"></i>Approved</td>
            {% else %}
              {% if x.activity_timeframe_set.all %}
              <td style="color:red;cursor: pointer;text-align: center;" onclick="window.location='{% url 'myAPP:update-timeframe' x.id %}';" class="no-print">&#9998;Edit</td>
              {% else %}
              <td style="color:red;cursor: pointer;text-align: center;" onclick="window.location='{% url 'myAPP:timeframe' x.id %}';" class="no-print">&#10010;Add</td>
              {% endif %}
            {% endif %}
            {% if x.activity_timeframe_set.all %}
              {% for c in x.activity_timeframe_set.all %}
                {% if c.m1 == 0 %}
                <td style='background-color:#ffffff'></td>
                {% else %}
                <td style='background-color:#548dd4'></td>
                {% endif %}
              {% endfor %}
              {% for c in x.activity_timeframe_set.all %}
                {% if c.m2 == 0 %}
                  <td style='background-color:#ffffff'></td>
                {% else %}
                  <td style='background-color:#548dd4'></td>
                {% endif %}
              {% endfor %}
              {% for c in x.activity_timeframe_set.all %}
                {% if c.m3 == 0 %}
                  <td style='background-color:#ffffff'></td>
                {% else %}
                  <td style='background-color:#548dd4'></td>
                {% endif %}
              {% endfor %}
              {% for c in x.activity_timeframe_set.all %}
              {% if c.m4 == 0 %}
                <td style='background-color:#ffffff'></td>
              {% else %}
                <td style='background-color:#548dd4'></td>
              {% endif %}
              {% endfor %}
              {% for c in x.activity_timeframe_set.all %}
              {% if c.m5 == 0 %}
                <td style='background-color:#ffffff'></td>
              {% else %}
                <td style='background-color:#548dd4'></td>
              {% endif %}
              {% endfor %}
              {% for c in x.activity_timeframe_set.all %}
                {% if c.m6 == 0 %}
                  <td style='background-color:#ffffff'></td>
                {% else %}
                  <td style='background-color:#548dd4'></td>
                {% endif %}
              {% endfor %}
              {% for c in x.activity_timeframe_set.all %}
                  {% if c.m7 == 0 %}
                    <td style='background-color:#ffffff'></td>
                  {% else %}
                    <td style='background-color:#548dd4'></td>
                  {% endif %}
              {% endfor %}
                    {% for c in x.activity_timeframe_set.all %}
                    {% if c.m8 == 0 %}
                      <td style='background-color:#ffffff'></td>
                    {% else %}
                      <td style='background-color:#548dd4'></td>
                    {% endif %}
                  {% endfor %}
                    {% for c in x.activity_timeframe_set.all %}
                    {% if c.m9 == 0 %}
                      <td style='background-color:#ffffff'></td>
                    {% else %}
                      <td style='background-color:#548dd4'></td>
                    {% endif %}
                  {% endfor %}
                  {% for c in x.activity_timeframe_set.all %}
                  {% if c.m10 == 0 %}
                    <td style='background-color:#ffffff'></td>
                  {% else %}
                    <td style='background-color:#548dd4'></td>
                  {% endif %}
                {% endfor %}
                {% for c in x.activity_timeframe_set.all %}
                  {% if c.m11 == 0 %}
                    <td style='background-color:#ffffff'></td>
                  {% else %}
                    <td style='background-color:#548dd4'></td>
                  {% endif %}
                {% endfor %}
                {% for c in x.activity_timeframe_set.all %}
                {% if c.m12 == 0 %}
                  <td style='background-color:#ffffff'></td>
                {% else %}
                  <td style='background-color:#548dd4'></td>
                {% endif %}
                {% endfor %}
                {% if x.am_remarks %}
                <td style="text-align: center;"class="no-print">{{ x.am_remarks }}</td>
                {% else %}
                <td style="text-align: center;"class="no-print">No Remarks</td>
                {% endif %}
            {% else %}
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            <td style='background-color:#ffffff'></td>
            {% if x.remarks %}
            <td class="no-print">{{ x.remarks }}</td>
            {% else %}
            <td style="text-align: center;" class="no-print">No Remarks</td>
            {% endif %}
            {% endif %}
        </tr>
      {% endfor %}
     {% endfor %}
    </tbody>
    
  </table>
</body>
{% endblock %}