{% extends 'myAPP/baseEvent.html' %}
{% block title %} Event Plan {% endblock %}
{% block content %}
<style>
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #bdd7ee;
    color: black;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<img class="image" src="https://assets.letsendorse.com/20200111/VwBUYOZNdHaPdNqQgzsG15787235219596.png" style='margin-top: 20px;'></img>
<div style='float:left;margin-left: 45%;'>
  <h2 style='font-family:"Calibri", sans-serif;'><u>Event Plan</u></h2>
</div>
<table id="customers">
  <thead>
    <tr>
      <th style="width: 1%;font-size:12px">Sl. No.</th>
      <th style="text-align: center;width:18%">Name of the event</th>
      <th style="text-align: center;width:8%">Date/Time</th>
      <th style="text-align: center;">Venue</th>
      <th style="text-align: center;width:10%">No of participants</th>
      <th style="text-align: center;width:20%">Main objective</th>
      <th style="text-align: center;width:20%">Key Event</th>
      <th style="text-align: center;">Total Budget</th>
      <th style="text-align: center;">Point person of the event</th>
      <th style="text-align: center;">Other support persons</th>
      <th style="text-align: center;">Any important point you want to mention</th>
      <th class="no-print;" style="text-align: center;width:5%">Edit</th>
      <th style="text-align: center;width:5%">Remarks if any</th>
    </tr>
  </thead>
  <tbody>
    {% for a in events %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ a.event_name }}</td>
        <td>{{ a.start_date| date:"d" }} to {{ a.end_date| date:"d F Y" }}</td>
        <td>{{ a.venue }}</td>
        <td>{{ a.no_of_participants }}</td>
        <td>{{ a.main_objective }}</td>
        <td>{{ a.key_event }}</td>
        <td>{{ a.total_budget }}</td>
        <td>{{ a.point_person }}</td>
        <td>{{ a.support_persons }}</td>
        <td>{{ a.any_imp_point }}</td>
				{% if a.is_submited == 1 and a.is_approved == 0 %}
					<td class="no-print">Submited</td>
			  	{% elif a.is_approved == 1 %}
					<td style="color:Green;"><i class="fa-solid fa-check"></i>Approved</td>
			  	{% else %}
					<td style="color:red;cursor: pointer;text-align: center;" onclick="window.location='{% url 'myAPP:update_event' a.id %}';" class="no-print">&#9998;Edit</td>
			  {% endif %}
        {% if a.remarks %}
          <td>{{ a.remarks }}</td>
        {% else %}
          <td style="text-align: center;">No Remarks</td>
        {% endif %}
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}