{% extends 'myAPP/baseplan.html' %}
{% block content %}
<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		
		.month-list {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
		}
		
		.month-list button {
			font-size: 16px;
			font-weight: bold;
			padding: 10px;
			margin-right: 10px;
			background-color: #f2f2f2;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
		
		.month-list button:hover {
			background-color: #e6e6e6;
		}
		
		.month-list button.selected {
			background-color: #4CAF50;
			color: white;
		}
		
		.data {
			margin-top: 20px;
			padding: 20px;
			background-color: #f2f2f2;
		}
		
		.data h2 {
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 10px;
		}
		
		.data p {
			font-size: 16px;
			margin: 0 0 10px;
		}
		#customers {
			font-family: Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 100%;
		  }
		
		  #customers td, #customers th {
			border: 1px solid #ddd;
			padding: 8px;
		  }
		
		  #customers tr:nth-child(even){background-color: #f2f2f2;}
		
		  #customers tr:hover {background-color: #ddd;}
		
		  #customers th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #f4b083;
			color: black;
		  }
		  .image{
			border-radius: 8px;
			width: 150px;
			float:right;
			margin-right: 20px;
			margin-top: 50px;
		  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
	<img class="image" src="https://assets.letsendorse.com/20200111/VwBUYOZNdHaPdNqQgzsG15787235219596.png" style='margin-top: 20px;'></img>
	<div style='float:left;margin-left: 35%;'>
		<h2 style="text-align:center;"><u>Monthly Project Planning</u>({{month| date:"F"}})</h2>
	</div>
	<table id="customers">
		<thead>
			<tr>
				<th style="width:5px">Sl. No.</th>
				<th style="width:100px;text-align:center;">Component/ strategy</th>
				<th style="width:25%;text-align:center;">Activities</th>
				<th style="width:10px;text-align:center;">Date/ Duration</th>
				<th style="width:20px;text-align:center;">Number of Participants</th>
				<th style="width:20px;text-align:center;">Location</th>
				<th style="width:15px;text-align:center;">Main Responsibility</th>
				<th style="width:15px;text-align:center;">Supportive Responsibility</th>
				<th style="width:25%;text-align:center;">Expected Out come</th>
				<th style="width:5px" class='no-print'>Edit</th>
				<th style="text-align: center;" class='no-print'>Remarks if any</th>
			</tr>
		</thead>
		<tbody>
			{% for x in Plans %}
			<tr>
				<td style="text-align:center;">{{ forloop.counter }}</td>
				<td style="text-align:center;">{{ x.strategy }}</td>
				<td style="text-align:center;">{{ x.activity_id.activity_name }}</td>
				<td style="text-align:center;">{{ x.duration }}</td>
				<td style="text-align:center;">{{ x.no_Of_Participants }}</td>
				<td style="text-align:center;">{{ x.location_Of_Activity }}</td>
				<td style="text-align:center;">{{ x.main_Responsibility }}</td>
				<td style="text-align:center;">{{ x.supportive_Responsibility }}</td>
				<td style="text-align:center;">{{ x.result_Expected }}</td>
				{% if x.is_plan_submited == 1 and x.is_plan_approved == 0 %}
					<td class="no-print">Submited</td>
			  	{% elif x.is_plan_approved == 1 %}
				  	<td style="color:Green;text-align:center;" class='no-print'><i class="fa-solid fa-check"></i>Approved</td>
			  	{% else %}
					<td onclick="window.location='{% url 'myAPP:update_ActivityMatrix' x.id %}';" style="cursor: pointer;" class="no-print"><label style="color: red;cursor: pointer;" >&#9998;Edit</label></td>
			  	{% endif %}
				{% if x.plan_remarks %}
				  <td class='no-print' style="text-align: center;">{{ x.plan_remarks }}</td>
				{% else %}
				  <td style="text-align: center;" class='no-print'>No Remarks</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
{% endblock %}
