{% extends "myAPP/dashboard_ceo.html" %}
{% load static %}
{% block title %} Reporting Home {% endblock %}
{% block content %}
<style>
  #content::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      animation: slideBg 36s linear infinite ;
      animation-timing-function: ease-in-out;
      backface-visibility: hidden;
      backdrop-filter: blur(5px);
      filter: blur(3px);
      z-index: -1;
  }
  @keyframes slideBg{
    0%,100%{
      background-image: url("{% static 'images\planning3.jpeg' %}");
    }
    20%{
      background-image: url("{% static 'images\planning2.jpeg' %}");
    }
    40%{
      background-image: url("{% static 'images\planning5.jpeg' %}");
    }
    60%{
      background-image: url("{% static 'images\planning1.jpeg' %}");
    }
    80%{
      background-image: url("{% static 'images\planning4.jpeg' %}");
    }
    100%{
      background-image: url("{% static 'images\planning6.jpeg' %}");
    }
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #bbb;
    margin-bottom: 20%;
    transition: all .2s;
    cursor: pointer;
  }
  .info-data .card img {
    margin-right: 10%;
    width:30%;
  }
  .card p {
    font-weight: 400;
    font-size: 20px;
    color: black;
  }
  .card:hover {
      content:"";
      transform: translateY(-20px);
      opacity: 100%;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    }
</style>
<h1 class="title">Reporting</h1>
<ul class="breadcrumbs">
    <li>{{ project.project_name }}</li>
</ul>
  <div class="info-data" style='margin-left: 10%;margin-right:10%'>
    {% if user == 1 %}
    <a href="{%url 'myAPP:monthly-reporting' project.id %}" style='text-decoration: none;'>
      <div class="card">
        <img src="{% static 'images\monthly-report.png' %}" ></img>
        <p>Monthly Report</p>
      </div>
    </a>
    {% else %}
    <a href="{%url 'myAPP:ceo_report_approve' project.id %}" style='text-decoration: none;'>
      <div class="card">
        <img src="{% static 'images\monthly-report.png' %}" ></img>
          <p>Monthly Report</p>
      </div>
    </a>
    {% endif %}
    <a href="{%url 'myAPP:weekly-report' project.id %}" style='text-decoration: none;'>
      <div class="card">
        <img src="{% static 'images\weekly-report.png' %}" ></img>
        <p>Weekly Report</p>
      </div>
    </a>
    <a href="{%url 'myAPP:case-studies' project.id %}" style='text-decoration: none;'>
      <div class="card">
        <img src="{% static 'images\file-case.png' %}" ></img>
        <p>Case-Studies</p>
      </div>
    </a>
    <a href="#" style='text-decoration: none;'>
      <div class="card">
        <img src= "{% static 'images\report.png' %}" ></img>
        <p>Out-Station Report</p>
      </div>
    </a>
  </div>
{% comment %} <div class="row">
  {% if user == 1 %}
  <div class="column">
    <a href="{%url 'myAPP:monthly-reporting' project.id %}" style='text-decoration: none;'>
      <div class="card">
        <img src="{% static 'images\monthly-icon-0.png' %}" ></img>
        <p>Monthly-Report</p>
      </div>
    </a>
  </div>
  {% else %}
    <div class="column">
      <a href="{%url 'myAPP:ceo_report_approve' project.id %}" style='text-decoration: none;'>
        <div class="card">
          <img src="{% static 'images\monthly-icon-0.png' %}" ></img>
          <p>Monthly-Report</p>
        </div>
      </a>
    </div>
  {% endif %}

  <div class="column">
    <a href="{%url 'myAPP:weekly-report' project.id %}" style='text-decoration: none;'>
      <div class="card">
        <img src="{% static 'images\weekly-report-icon.png' %}" ></img>
        <p>Weekly-Report</p>
      </div>
    </a>
  </div>
  
  <div class="column">
    <a href="{%url 'myAPP:case-studies' project.id %}" style='text-decoration: none;'>
    <div class="card">
      <img src="{% static 'images\case-icon-png-2654.png' %}" ></img>
      <p>Case-Studies</p>
    </div>
  </a>
  </div>
  <div class="column">
    <a href="#" style='text-decoration: none;'>
      <div class="card">
        <img src= "{% static 'images\report.png' %}" ></img>
        <p>Out-Station Report</p>
      </div>
    </a>
  </div>
</div> {% endcomment %}
{% endblock %}