{% extends 'myAPP/user_nav.html' %}
{% block content %}
<style>
  input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e7e6e6;
  }
  label {
    color: #2706ca;
    font-weight: bold;
    {% comment %} padding: 5px 12px 12px 0; {% endcomment %}
    display: inline-block;
    float: left;
    width: 25%;
    margin-top: 10px
  }
  
  input[type=submit] {
    width: 10%;
    background-color: #003366;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
</style>
<div>
  <center><h3>{{activities.project_detail_id.component}}</h3></center>
  {% comment %} <a href="{% url 'myAPP:index1' project.pk %}" style='color:#1775f1;font-weight:bold;margin:5vw'><i class="fa-solid fa-left-long"></i> Back</a> {% endcomment %}
  <center><h4>{{activities.activity_name}}</h4></center><br>
  <div class="form-group" style='margin:50px'>
    <form  method="POST">
      {% csrf_token %}
      <ul style="float:left;margin:0 15px;list-style-type: none;">
      {% for next_month in next_months %}
        <li>
          <lable>{{ next_month|date:"F" }}</lable>
        </li>
      {% endfor %}
      </ul>
      <ul style='list-style-type: none;'>
        <li>
          {{form.m1}}
        </li>
        <li>
          {{form.m2}}
        </li>
        <li>
          {{form.m3}}
        </li>
        <li>
          {{form.m4}}
        </li>
        <li>
          {{form.m5}}
        </li>
        <li>
          {{form.m6}}
        </li>
        <li>
          {{form.m7}}
        </li>
        <li>
          {{form.m8}}
        </li>
        <li>
          {{form.m9}}
        </li>
        <li>
          {{form.m10}}
        </li>
        <li>
          {{form.m11}}
        </li>
        <li>
          {{form.m12}}
        </li>
      </ul>
      <input class='button' type="submit" value="Save">
    </form>
  </div>  
</div>
{% endblock  %}