{% extends 'myAPP/base-add-week.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
  }
</style>
<body>
  <div class="form-group">
    <form  method="POST" action="{% url 'myAPP:create_weekly_report' project.id %}">
      {% csrf_token %}
      <lable>Activities :</lable>
      {{form.activity_id}}<br>
      <lable>No of unit :</lable>
      {{form.unit}}<br>
      <lable>Approved Budget :</lable>
      {{form.approved_budget}}<br>
      <label for="week_one_report">Week 1 Report:</label>
      <input name="week_one_report" id="week_one_report"></input>
      <select name="week_one_status" id="week_one_status">
          <option value="">Select Status</option>
          <option value="1">Completed</option>
          <option value="2">In-Progress</option>
          <option value="3">Not-Started</option>
      </select><br>
      <label for="week_two_report">Week 2 Report:</label>
      <input name="week_two_report" id="week_two_report"></input>
      <select name="week_two_status" id="week_two_status">
          <option value="">Select Status</option>
          <option value="1">Completed</option>
          <option value="2">In-Progress</option>
          <option value="3">Not-Started</option>
      </select><br>
      <label for="week_three_report">Week 3 Report:</label>
      <input name="week_three_report" id="week_three_report"></input>
      <select name="week_three_status" id="week_three_status">
          <option value="">Select Status</option>
          <option value="1">Completed</option>
          <option value="2">In-Progress</option>
          <option value="3">Not-Started</option>
      </select><br>
      <label for="week_four_report">Week 4 Report:</label>
      <input name="week_four_report" id="week_four_report"></input>
      <select name="week_four_status" id="week_four_status">
          <option value="">Select Status</option>
          <option value="1">Completed</option>
          <option value="2">In-Progress</option>
          <option value="3">Not-Started</option>
      </select><br>
      <label for="week_five_report">Week 5 Report:</label>
      <input name="week_five_report" id="week_five_report"></input>
      <select name="week_five_status" id="week_five_status">
          <option value="">Select Status</option>
          <option value="1">Completed</option>
          <option value="2">In-Progress</option>
          <option value="3">Not-Started</option>
      </select><br>
      
      <lable>Cumulative Progress :</lable>
      {{form.cumulative_progress}}<br>
      <lable>Cumulative Utilisation :</lable>
      {{form.cumulative_utilisation}}<br>
      <lable>Remarks if any :</lable>
      {{form.remarks}}
      <input class='button' type="submit" value="Save">
    </form>
  </div> 
  <script>
    function capitalizeText(inputId) {
      var input = document.getElementById(inputId);
      var inputValue = input.value;
      var capitalizedText = "";
      var capitalizeNext = true;

      for (var i = 0; i < inputValue.length; i++) {
        var currentChar = inputValue.charAt(i);
        
        if (capitalizeNext && currentChar.match(/[a-z]/i)) {
          capitalizedText += currentChar.toUpperCase();
          capitalizeNext = false;
        } else {
          capitalizedText += currentChar;
        }
      }
      input.value = capitalizedText;
    }
  </script>  
  </body>
{% endblock  %}