{% extends 'sidenav\sidenav_ceo.html' %}
{% load static %}
{% block title %} Add Budget Request {% endblock %}
{% block content %}
<style>
  input[type=text],[type=select] , [type=number]{
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e7e6e6;
  }
  label {
    color: #2706ca;
    font-weight: bold;
    {% comment %} padding: 5px 12px 12px 0; {% endcomment %}
    display: inline-block;
    float: left;
    width: 25%;
    margin-top: 10px
  }
  
  input[type=submit] {
    width: 15%;
    background-color: #003366;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
</style>
<div style='margin:2vw;'>
  <a href="{% url 'myAPP:budget_requests' project.pk %}" style='color:#1775f1;font-weight:bold'><i class="fa-solid fa-left-long"></i> Back</a>
  <center><h2 style='color:#003366;margin-bottom:50px;'>Add Budget Request</h2></center>
  <div> 
    <form  method="POST">
      {% csrf_token %}
      <label>Name : </label>
      {{form.name}}<br>

      <label >Designation : </label>
      {{form.designation}}<br>
    
      <label >Programme : </label>
      {{form.programme}}<br>

      <label >Budget Head : </label>
      {{form.budget_head}}<br>

      <label >Approved budget : </label>
      {{form.approved_budget}}<br>
    
      <label >Budget Requsted : </label>
      {{form.requsted_budget}}<br>

      <input type="submit" value="Save">
    </form>
  </div>
</div>
{% endblock  %}