{% extends 'myAPP/actbase.html' %}
{% block title %} DIP_Details {% endblock %}
{% block content %}
<table class="styled-table">
 <tbody>
    <thead>
        <tr>
          <th>Id</th>
          <th>Mov</th>
        </tr>
      </thead>
  {% for a in mov %}
  <tr>
    <td>{{a.id}}</td>
   <td>{{a.mov}}</td>
  </tr>
  {% endfor %}
  {% if messages %}
   {% for message in messages %}
   <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
       {{ message }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
       {% endfor %}
   {% endif %}
 </tbody>
</table>
{% endblock %}